div(ng-if="vm.person", layout="column", layout-gt-sm="row", layout-align-gt-sm="center")
    .md-whiteframe-z1(layout="column", flex-gt-sm="70")
        div(layout-padding, layout="row")
            .md-headline
                | {{vm.person.name}}
                i.mdi.mdi-biohazard.mdi-24px.side-margins.infected(ng-if="vm.person.infected")
                    md-tooltip(md-direction="top")
                        span(translate="survivor.infected")

            span(flex)
            .md-padding(ng-if="!vm.person.infected", layout="row")
                md-button.md-icon-button(ng-href="/trade?trader={{vm.person._id}}")
                    md-tooltip(md-direction="top")
                        span(translate="searchSurvivor.tooltips.trade")
                    md-icon.mdi.mdi-account-switch.mdi-24px.side-margins
                md-button.md-icon-button(ng-click="vm.flagAsInfected($event)")
                    md-tooltip(md-direction="top")
                        span(translate="searchSurvivor.tooltips.flagAsInfected")
                    md-icon.mdi.mdi-biohazard.mdi-24px.side-margins

        md-divider
        md-content(layout="column", layout-gt-sm="row")
            .md-padding(flex="50")
                .md-subhead
                    b(translate="updateSurvivor.id")
                    = ': '
                    | {{vm.person._id}}
                .md-subhead
                    b(translate="newSurvivor.age")
                    = ': '
                    | {{vm.person.age}}
                .md-subhead
                    b(translate="newSurvivor.gender")
                    = ': '
                    | {{'common.' + vm.person.gender | translate}}

                br

                md-content.md-whiteframe-z1(md-theme="highlight")
                    md-list.dense
                        .md-subhead.md-padding
                            b(translate="newSurvivor.inventory", ng-hide="vm.person.infected")
                            b(translate="survivor.infectedInventory", ng-show="vm.person.infected")
                        md-divider
                        md-list-item.md-2-line(ng-repeat="(resource, value) in vm.person.inventory")
                            .md-list-item-text(translate="common.resources.{{resource}}")
                            md-badge.md-secondary {{value}}

            .md-padding(flex="50")
                .md-subhead
                    b(translate="survivor.lastLocation")
                md-divider
                br
                ng-map(center="{{vm.person.lastLocation.latitude}}, {{vm.person.lastLocation.longitude}}", zoom="12", geo-fallback-center="-16.6862, -49.2648")
                    marker(ng-if="vm.person.infected",
                        position="{{vm.person.lastLocation.latitude}}, {{vm.person.lastLocation.longitude}}",
                        icon="{url:'images/red-marker.png', scaledSize:[25,40]}")
                    marker(ng-if="!vm.person.infected",
                        position="{{vm.person.lastLocation.latitude}}, {{vm.person.lastLocation.longitude}}",
                        icon="{url:'images/green-marker.png', scaledSize:[25,40]}")