div(layout="column", layout-align="center center")
    h3(translate="updateSurvivor.title")

div(layout="column", layout-gt-sm="row", layout-align-gt-sm="center")
    .md-whiteframe-z1(layout="column", flex-gt-sm="70")
        md-content
            .md-padding(layout="column", layout-gt-sm="row")
                md-input-container(flex="70")
                    label(translate="updateSurvivor.id")
                    md-icon search
                    input(type="text", ng-model="vm.searchId")
                div(flex, layout-padding)
                    md-button(translate="common.search", ng-click="vm.searchSurvivor()")

            div(ng-if="vm.person && vm.person.infected", layout="column", layout-align="center center")
                b.md-warn(translate="updateSurvivor.infected")

            form(ng-if="vm.person", name="vm.updateSurvivorForm")
                .md-padding(layout="column", layout-gt-sm="row")
                    md-input-container(flex="60")
                        label(translate="newSurvivor.name")
                        input(type="text", name="name", ng-model="vm.updateSurvivor.name", ng-disabled="vm.person.infected", required, md-no-asterisk)
                        div(ng-messages="vm.updateSurvivorForm.name.$error")
                            div(ng-message="required", translate="common.errors.required")

                    md-input-container(flex="20")
                        label(translate="newSurvivor.age")
                        input(type="number", name="age", min="1", ng-model="vm.updateSurvivor.age", ng-disabled="vm.person.infected", required, md-no-asterisk)
                        div(ng-messages="vm.updateSurvivorForm.age.$error")
                            div(ng-message="required", translate="common.errors.required")
                            div(ng-message="number", translate="common.errors.age")
                            div(ng-message="min", translate="common.errors.age")

                    md-input-container(flex="20")
                        label(translate="newSurvivor.gender")
                        md-select(name="gender", ng-model="vm.updateSurvivor.gender", ng-disabled="vm.person.infected", required, md-no-asterisk)
                            md-option(ng-repeat="gender in vm.genders", value="{{gender.index}}")
                                | {{gender.name | translate}}
                        div(ng-messages="vm.updateSurvivorForm.gender.$error")
                            div(ng-message="required", translate="common.errors.required")


                .md-padding(layout="column", layout-gt-sm="row")
                    md-content(flex="50", layout-padding)
                        md-content.md-whiteframe-z1(md-theme="highlight")
                            md-list.dense
                                label(translate="newSurvivor.inventory")
                                md-divider
                                md-list-item.md-2-line(ng-repeat="(resource, value) in vm.updateSurvivor.inventory")
                                    .md-list-item-text(translate="common.resources.{{resource}}")
                                    md-badge.md-secondary {{value}}

                                md-list-item.md-2-line(ng-show="vm.isInventoryEmpty()")
                                    .md-list-item-text(translate="newSurvivor.emptyInventory")

                .md-padding
                    label(translate="newSurvivor.pickOnMap")
                    md-divider
                    br
                    ng-map(center="{{vm.updateSurvivor.lastLocation.latitude}}, {{vm.updateSurvivor.lastLocation.longitude}}" zoom="12" on-click="vm.setLocation()", geo-fallback-center="-16.6862, -49.2648")
                        marker(position="{{vm.updateSurvivor.lastLocation.latitude}}, {{vm.updateSurvivor.lastLocation.longitude}}")

                    br

                .md-padding(layout="column", layout-align="center center")
                    md-button.md-raised.md-primary(translate="common.update", ng-click="vm.finishUpdate()", ng-disabled="vm.person.infected")
                    md-button.md-raised(translate="common.resetModifications", ng-click="vm.resetSurvivor()", ng-disabled="vm.person.infected")