extends layout

block main-content
    div(layout="column", layout-fill)
        md-toolbar(layout="row", layout-align="start center")
            .md-toolbar-tools
                h3
                    span(layout-padding, translate="main.zssn")
                span(flex)
        md-content(flex, layout="row")
            md-content(flex="grow", layout-padding, ng-view)