// * Vendor
script(type="text/javascript", src="/vendor/angular/angular.min.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.min.js")

// * Lib
script(type="text/javascript", src="/js/lib/init.js")

// * Angular app
<!-- build:angular-app -->
// *** App
script(type="text/javascript", src="/js/app/app.module.js")
script(type="text/javascript", src="/js/app/app.routes.js")

// *** Main
script(type="text/javascript", src="/js/app/main/index.controller.js")

<!-- endbuild -->