div(layout="column", layout-align="center center")
    h3(translate="statistic.title")

div(ng-if="vm.reports", layout="column", layout-gt-sm="row", layout-align-gt-sm="center")
    .md-whiteframe-z1(layout="column", flex-gt-sm="70")
        .md-padding(layout-gt-sm="row", layout-padding, layout-align="space-around stretch")
            div(flex="33")
                label(translate="statistic.infection")
                md-divider
                canvas#doughnut-infection.chart.chart-doughnut(chart-data="vm.charts.infection.data",
                    chart-labels="vm.charts.infection.labels")
            div(flex="33")
                label(translate="statistic.resources")
                md-divider
                canvas#pie-resources.chart.chart-pie(chart-data="vm.charts.resources.data",
                    chart-labels="vm.charts.resources.labels")