.md-48
  font-size 48px !important
  width auto
  height auto

.md-72
  font-size 72px !important
  width auto
  height auto

.md-100
  font-size 100px !important
  width auto
  height auto

.home-link:hover
  color #8BC34A !important
  background-color #ebebeb !important

.home-link:hover md-icon
  color #4CAF50 !important
